<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

	<script src="http://localhost:3000/angular/angular.js"></script>	

	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.js"></script>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

	<link rel="stylesheet" href="http://localhost:3000/stylesheets/breadcrumb.css">
	<link rel="stylesheet" href="http://localhost:3000/stylesheets/crumb.css">
	<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/jstree/3.0.9/themes/default/style.min.css" />
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.0.9/jstree.min.js"></script>	



	<style>

	.breadcrumb > li + li:before {
		color: #ccc;
		content: "/ ";
		padding: 0 5px;
	}

	.navbar-nomargin {
		margin-bottom: 0px;
	}

	div.pathbutton >  button.breadcrumb-alike::before {
		color: #ccc;
		content: "/";
		padding: 0 0px;
	}

	p.beforebutton:before {
		display:inline !important;
		color: #9A9B96 !important;
		content: "> " !important;
		padding: 0 0px !important;
		font-size: 19px;
		font-weight: bold;		
	}



	</style>

</head>

<body ng-app="myapp" class="">

	<nav class="navbar navbar-default navbar-nomargin">
		<div class="container-fluid">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#">BigNet</a>
			</div>



			<div class="text">
				<ul></ul>
			</div>

			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav">
					<li class="active"><a href="#">Data<span class="sr-only">(current)</span></a></li>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Apps <span class="caret"></span></a>
						<ul class="dropdown-menu" role="menu">
							<li><a href="#">Action</a></li>
							<li><a href="#">Another action</a></li>
							<li><a href="#">Something else here</a></li>
							<li class="divider"></li>
							<li><a href="#">Separated link</a></li>
							<li class="divider"></li>
							<li><a href ="#">One more separated link</a></li>
						</ul>
					</li>
				</ul>
				<form class="navbar-form navbar-left" role="search">
					<div class="form-group">
						<input type="text" class="form-control" placeholder="Search">
					</div>
					<button type="submit" class="btn btn-default">Search</button>
				</form>
				<ul class="nav navbar-nav navbar-right">
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
							<span class="glyphicon glyphicon-user" aria-hidden="true"></span>
							Connexion <span class="caret"></span>
						</a>
						<ul class="dropdown-menu" role="menu">
							<li><a href="#">Action</a></li>
							<li><a href="#">Another action</a></li>
							<li><a href="#">Something else here</a></li>
							<li class="divider"></li>
							<li><a href="#">Separated link</a></li>
						</ul>
					</li>
				</ul>
			</div><!-- /.navbar-collapse -->
		</div><!-- /.container-fluid -->
	</nav>


	<div class="container-fluid">
		<div class="row">
			<div class="col-md-2" style="background:lightblue; height:50px;">
			</div>
			<div class="col-md-6"  style="background:lightgray; height:50px;">
				<div id="smallcrumbs">
					<ul class="nav nav-pills" id="crumbs">
						<li><a href="#">MachineName</a></li>
						<li><a href="#">Users</a></li>
						<li><a href="#">alainlavoie</a></li>
						<li>
							<a href="#">BigData.Photos</a>
						</li>
						<li role="presentation" class="dropdown">
							<a href="#" data-toggle="dropdown" class="dropdown-toggle" role="button" aria-expanded="false">
								bigd<span class="caret"></span>
							</a>
							<ul class="dropdown-menu dropdown-overwrite" role="menu">
								<li><a href="#">Action On directory</a></li>
								<li><a href="#">Another action</a></li>
								<li class="previous-divider"><a href="#">Something else here</a></li>
								<li class="divider"></li>
								<li><a href="#">Separated link</a></li>
							</ul>
						</li>
					</ul>
				</div>
			</div>
			<div class="col-md-4"  style="background:lightgray; height:50px;">

				<div class="row">
					<a ng-controller="HideSomeFilesCtrl"  ng-click="toggleHidingFiles()"  class="btn" ng-class="classFlag" href="#">
						<span class="glyphicon glyphicon-eye-close"></span>
					</a>

					<div class="btn-group" role="group" aria-label="...">
						<button type="button" class="btn btn-default">1</button>
						<button type="button" class="btn btn-default">2</button>

						<div class="btn-group" role="group">
							<button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
								<span class="glyphicon glyphicon-plus"></span>
								<span class="caret"></span>
							</button>
							<ul class="dropdown-menu" role="menu">
								<li><a href="#" ng-click="addFolder()" >Folder</a></li>
								<li><a href="#" ng-click="addFile()">File</a></li>
								<li><a href="#" ng-click="addFile()">Task</a></li>
							</ul>
						</div>
					</div>				
				</div>

			</div>
		</div>
	</div>



	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-2" style="background:lightblue; height:500px;">
			</div>
			<div class="col-sm-6">



				<table id="tablefile" data-url="" class="table table-condensed" data-click-to-select="true">
					<thead>
						<tr>
							<th data-field="state" data-checkbox="true"></th>
							<th data-field="filename">Name</th>
							<th data-field="owner">Owner</th>
							<th data-field="lastModified">Last Modified</th>
							<th data-field="fileSize">File size</th>
							<th data-field="type"></th>
						</tr>
					</thead>
					<tbody id="fileListing" ng-controller="MainCtrl">

						<tr ng-repeat="file in files" data-index="0">
							<td class="bs-checkbox">
								<input data-index="0" name="btSelectItem" type="checkbox">
							</td>
							<td style="">{{file.filename}}</td>
							<td style="">{{file.Owner}}</td>
							<td style="">{{file.lastModification}}</td>
							<td style="">{{file.fileSize}}</td>
						</tr>

					</tbody>


				</table>
			</div>			
			<div class="col-sm-4"  style="background:lightgreen; height:500px;">asdf</div>
		</div>
	</div>




	<ul id="contextMenu" class="dropdown-menu" role="menu" style="display:none" >
		<li><a tabindex="-1" href="#">Action</a></li>
		<li><a tabindex="-1" href="#">Another action</a></li>
		<li><a tabindex="-1" href="#">Something else here</a></li>
		<li class="divider"></li>
		<li><a tabindex="-1" href="#">Separated link</a></li>
	</ul>



</body>


<script src="http://localhost:3000/angular-resource/angular-resource.js">

</script>
<script>
(function ($, window) {

	$.fn.contextMenu = function (settings) {

		return this.each(function () {

            // Open context menu
            $(this).on("contextmenu", function (e) {
                //open menu
                $(settings.menuSelector)
                .data("invokedOn", $(e.target))
                .show()
                .css({
                	position: "absolute",
                	left: getLeftLocation(e),
                	top: getTopLocation(e)
                })
                .off('click')
                .on('click', function (e) {
                	$(this).hide();

                	var $invokedOn = $(this).data("invokedOn");
                	var $selectedMenu = $(e.target);

                	settings.menuSelected.call(this, $invokedOn, $selectedMenu);
                });
                
                return false;
            });

            //make sure menu closes on any click
            $(document).click(function () {
            	$(settings.menuSelector).hide();
            });
        });

		function getLeftLocation(e) {
			var mouseWidth = e.pageX;
			var pageWidth = $(window).width();
			var menuWidth = $(settings.menuSelector).width();

            // opening menu would pass the side of the page
            if (mouseWidth + menuWidth > pageWidth &&
            	menuWidth < mouseWidth) {
            	return mouseWidth - menuWidth;
        } 
        return mouseWidth;
    }        

    function getTopLocation(e) {
    	var mouseHeight = e.pageY;
    	var pageHeight = $(window).height();
    	var menuHeight = $(settings.menuSelector).height();

            // opening menu would pass the bottom of the page
            if (mouseHeight + menuHeight > pageHeight &&
            	menuHeight < mouseHeight) {
            	return mouseHeight - menuHeight;
        } 
        return mouseHeight;
    }

};
})(jQuery, window);

// Voir http://stackoverflow.com/questions/18666601/use-bootstrap-3-dropdown-menu-as-context-menu

$("#tablefile tr").contextMenu({
	menuSelector: "#contextMenu",
	menuSelected: function (invokedOn, selectedMenu) {
		var msg = "You selected the menu item '" + selectedMenu.text() +
		"' on the value '" + invokedOn.text() + "'";
		alert(msg);
	}
});


var myapp = new angular.module("myapp", ["ngResource"]);
myapp.controller("MainCtrl", ["$scope", "$resource", function($scope, $resource){
	var popTable = new Promise(function(resolve, reject){


	});
	var FFiles = $resource("http://localhost:3000/ls/Machine/Users/alainlavoie", {id: "@id"}, {});
	$scope.files = FFiles.query(function(){
		var ndata = [];
		angular.forEach( $scope.files, function(value, key){
			var idata = {};
			idata.filename = value.filename;
			idata.owner = value.Owner;
			idata.fileSize = value.fileSize;
			idata.lastModified = value.lastModification; 
			ndata.push(idata);
		});

	});

}]);


myapp.controller("HideSomeFilesCtrl", ["$scope", "$resource", function($scope, $resource){

    $scope.hiddingFileFlag = false;
    $scope.classFlag = "btn-default";
	$scope.toggleHidingFiles = function() {
       if ( $scope.hiddingFileFlag ){
           $scope.hiddingFileFlag = false;
           $scope.classFlag = "btn-default";
       } else {
           $scope.hiddingFileFlag = true;
           $scope.classFlag = "btn-primary";
       }
	}

}]);


myapp.controller("CompanyCtrl", function($scope) {
	$scope.companies = [
	{ 
		'name':'Infosys Technologies',
		'employees': 125000,
		'headoffice': 'Bangalore'
	},
	{ 
		'name':'Cognizant Technologies',
		'employees': 100000,
		'headoffice': 'Bangalore'
	},
	{ 
		'name':'Wipro',
		'employees': 115000,
		'headoffice': 'Bangalore'
	},
	{ 
		'name':'Tata Consultancy Services (TCS)',
		'employees': 150000,
		'headoffice': 'Bangalore'
	},
	{ 
		'name':'HCL Technologies',
		'employees': 90000,
		'headoffice': 'Noida'
	},
	];

	$scope.addFolder = function(){		
		$scope.companies.push({ 'name':"un Essai", 'employees': "yo", 'headoffice':"sdf" });
	};

	$scope.addFile = function(){		
		$scope.companies.push({ 'name':$scope.name, 'employees': $scope.employees, 'headoffice':$scope.headoffice });
		$scope.name='';
		$scope.employees='';
		$scope.headoffice='';
	};

	$scope.addRow = function(){		
		$scope.companies.push({ 'name':$scope.name, 'employees': $scope.employees, 'headoffice':$scope.headoffice });
		$scope.name='';
		$scope.employees='';
		$scope.headoffice='';
	};

	$scope.removeRow = function(name){				
		var index = -1;		
		var comArr = eval( $scope.companies );
		for( var i = 0; i < comArr.length; i++ ) {
			if( comArr[i].name === name ) {
				index = i;
				break;
			}
		}
		if ( index === -1 ) {
			alert( "Something gone wrong" );
		}
		$scope.companies.splice( index, 1 );		
	};
} );








</script>

</html>